.pagination-container {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 0;
  height: 10vh;
  border-bottom: 2px solid black;
}

.page-number {
  width: 10%;
  font-weight: 700;
  font-size: 2rem;
  background-color: yellow;
  color: rgb(192, 48, 48);
  border-radius: 50%;
  padding: 1rem;
  border: 2px solid black;
}
