.search-container {
  width: 100%;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
  border-bottom: 0.3rem solid black;
}
.home-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  margin: auto;
  height: 10vh;
  padding: 1rem;
}

.search-text-input {
  width: 80%;
  height: 33%;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.fa-searchengin {
  font-size: 1.5rem;
  font-weight: 400;
}
